.lookTittle {
    margin: 2% 0% 0% 0%; 
    text-align: center;
    font-size: 40px;
    color: #444444;
}

.lookBigDiv {
    width: 50%;
    height: 100%; 
    border: 5px solid #9a9a9a;
    border-radius: 20px;    
    background-color: white;
}

.lookLabel {
    font-size: 25px;
    color: #444444;
    margin: 1%;
    float: left;
}

.lookLabelValue {
    font-size: 20px;
    color: #444444;
    float: right;
    margin: 1%;
}

.lookButtonCancel {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: white;
    color: #202020;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    float: left;
}

.lookButtonCancel:hover {
    background-color: black;
    color: white;
}

.lookButtonSave {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: #202020;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    float: right;
}

.lookButtonSave:hover {
    background-color: white;
    color: black;
}

.lookButtonGraph{
    border: 1px solid #444444;
    background-color: rgb(33, 33, 253);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    float: right;
}

.lookButtonGraph:hover {
    background-color: white;
    color: rgb(33, 33, 253);
}
