<div class="lookTittle animated fadeInDown">
    Here You can create a flight for destination.
</div>
<br>
<div class="container lookBigDiv">
    <form class="form" #newFlightForm="ngForm" (ngSubmit)="addNewFlight(newFlightForm);">
        <div style="margin: 25px;">
            <div>
                <label class="lookLabel">Aeroplane:</label>
                <select name="aeroplane" ngModel required class="lookAddRemoveTextBox">
                    <option *ngFor="let aeroplane of aeroplanes;" [ngValue]="aeroplane.name">{{aeroplane.name}}</option>
                </select>
            </div>
            <div>
                <label class="lookLabel">Date and time of departure</label>
                <input name="departure" ngModel required class="lookBox" type="datetime-local">
            </div>
            <div>
                <label class="lookLabel">Date and time of landing</label>
                <input name="arrival" ngModel required class="lookBox" type="datetime-local">
            </div>
            <div>
                <label class="lookLabel">Travel time</label>
                <input name="travelTime" ngModel required placeholder="h" min="0.01" class="lookBoxSmall" type="number">
            </div>
            <div>
                <label class="lookLabel">Travel length</label>
                <input name="travelDistance" ngModel required placeholder="km" min="1" class="lookBoxSmall" type="number">
            </div>
            <div>
                <label class="lookLabel">Number and locations of changeover</label>
                <br>
                <div style="margin: 0% 0% 0% 2%;">
                    <label class="lookLabel">- Locations</label>
                    <button type="button" class="lookButtonLocations" style="float: right;" data-toggle="modal" data-target="#locationsList">Click</button>
                        <br>
                </div>        
            </div>
            <div>
                <label class="lookLabel">Ticket price</label>
                <input name="price" ngModel required placeholder="$" min="1" class="lookBoxSmall" type="number">
            </div>
            <br>
            <div style="overflow: hidden;">
                <button class="lookButtonCancel" type="button" routerLink="/admin/avio">Cancel</button>
                <button class="lookButtonSave" type="submit">Save</button>
            </div>
            <div style="overflow: hidden;">
                <div class="loader" *ngIf="loading"></div> 
                <div class="success" *ngIf="success">✓ Successufully created a flight.</div> 
                <div class="failed" *ngIf="failed">✗ An error occured.<br><b>Error: {{errorCreateFlight}}</b><br>Additional info: {{errorCreateFlightInfo}}</div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="locationsList" tabindex="0" role="dialog" aria-labelledby="locationsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="locationsList" style="font-size: 25px; color: #444444;">Locations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="margin: 10px;">
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let location of transit;">
                    <td class="lookTd">{{location.name}}</td>
                </tr>
            </table>
            <div>
                <div style="overflow: hidden;">
                    <select name="selectedLocation" #selectedLocation class="lookAddRemoveTextBox">
                        <option *ngFor="let location of possibleLocations;" [ngValue]="location.name">{{location.name}}</option>
                    </select>
                    <button class="lookAddButton" type="button" (click)="addToTransit();">Add</button>
                </div>
                <br>
                <div style="overflow: hidden;">
                    <input class="lookAddRemoveTextBox" #removeTextBox type="text" placeholder="Type location name here">
                    <button class="lookRemoveButton" type="button" (click)="removeFromTransit();">Remove</button>
                </div> 
          </div>       
          </div>
        </div>       
    </div>
</div>