<div class="lookTittle animated fadeInDown">
    Hello! Here a list of administration permissions.
</div>
<br>
<div class="container lookBigDiv">
    <div style="margin: 25px;">
        <label class="lookLabel">Edit avio company profile</label>
        <br>
        <button routerLink="/admin/avio/profile" routerLinkActive="active" class="lookButtons" type="button">Edit</button>
        <hr>
        <label class="lookLabel">See your aeroplanes and change their seats</label>
        <br>
        <button routerLink="/admin/avio/aeroplanes" routerLinkActive="active" class="lookButtons" type="button">Change</button>
        <hr>
        <label class="lookLabel">Create a flight</label>
        <br>
        <button routerLink="/admin/avio/flights" routerLinkActive="active" class="lookButtons" type="button">Create</button>
        <hr>
        <label class="lookLabel">See how Your avio company is doing</label>
        <br>
        <button routerLink="/admin/avio/report" routerLinkActive="active" class="lookButtons" type="button">Report</button>
        <hr>
        <label class="lookLabel">Edit personal data</label>
        <br>
        <button routerLink="/profile" routerLinkActive="active" class="lookButtons" type="button">Edit</button>
    </div>    
</div>
