<div class="container main">
    <div class="logo-name-rate">
        <div>
            <img src="../../../assets/aerocar_logo.png" width="250" height="100"/>
        </div>
        <div class="title">
            <b>{{profileDetails.name}}</b>
        </div>
        <div>
            <img src="../../../assets/ratings/{{profileDetails.ratingPicture}}.png" width="150" height="30"/>
        </div>
    </div>
    <div class="details">
        <div class="address">
            Address: {{profileDetails.address}}
            <br/>
            Travels to/from: {{profileDetails.destinations}}
        </div>
        <div class="description">
            {{profileDetails.description}}
        </div>
    </div>
    <div class="offices">
        <h3>Airports this company uses.</h3>
        <div class="list">
            <div class="list-item" *ngFor="let profDet of profileDetails.destinationsList">
                <div class="list-item-content">
                    <div class="split-content-left">
                        <div class="office-id">
                            Id: {{profDet.destinationId}}
                        </div>
                        <div class="office-location">
                            {{profDet.name}}
                        </div>
                    </div>
                    <div class="split-content-right">
                        Latitude: {{profDet.latitude}}<br>Longitude: {{profDet.longitude}}
                    </div>
                    <div class="office-additional">
                        {{profDet.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back">
        <button routerLink="/flights" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>