<div class="lookTittle animated fadeInDown">
    Here You can change personal information.
</div>
<br>
<div class="container lookBigDiv">
    <div>
        <label class="lookLabel">First name</label>
        <input class="lookBox" type="text">
    </div>
    <div>
        <label class="lookLabel">Last name</label>
        <input class="lookBox" type="text">
    </div>
    <div>
        <label class="lookLabel">Phone number</label>
        <input class="lookBox" type="text">
    </div>
    <div>
        <label class="lookLabel">City</label>
        <input class="lookBox" type="text">
    </div>
    <div>
        <label class="lookLabel">E-mail</label>
        <input class="lookBox" type="text">
    </div>
    <hr>
    <div>
        <label class="lookLabel">Change password</label>
        <input class="lookBox" type="password">
    </div>
    <br>
    <div style="overflow: hidden;">
        <button style="float: left;" class="lookButtons" type="button">Cancel</button>
        <button style="float: right;" class="lookButtons" type="button">Save</button>
    </div>
</div>
