.lookLabel {
    font-size: 25px;
    color: #444444;
    margin: 1%;
    float: left;
}

.lookLabelTable {
    color: #444444;
    float: left;
    width: 50%;
}

.lookBox {
    margin: 2% 0% 0% 0%;
    float: right;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
    background-color: white;
    color: #5a5a5a;
    height: 35px;
    width: 200px;
}

.lookBoxTable {
    float: right;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
    background-color: white;
    color: #5a5a5a;
    width: 50%;
}

.lookBigDiv {
    width: 55%;
    height: 100%; 
    border: 5px solid #9a9a9a;
    border-radius: 20px;    
    background-color: white;
}

.lookTittle {
    margin: 2% 0% 0% 0%; 
    text-align: center;
    font-size: 40px;
    color: #444444;
}

.lookButtonCancel {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: white;
    color: #202020;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    float: left;
}

.lookButtonCancel:hover {
    background-color: black;
    color: white;
}

.lookButtonSave {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: #202020;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    float: right;
}

.lookButtonSave:hover {
    background-color: white;
    color: black;
}

.lookButtonCancelTable {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: white;
    color: rgb(33, 33, 253);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    float: left;
}

.lookButtonCancelTable:hover {
    background-color: rgb(33, 33, 253);
    color: white;
}

.lookButtonSaveTable {
    margin: 1% 0% 1% 1%;
    border: 1px solid #444444;
    background-color: rgb(33, 33, 253);
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    float: right;
}

.lookButtonSaveTable:hover {
    background-color: white;
    color: rgb(33, 33, 253);
}

.lookButtonChange{
    border: 1px solid #444444;
    background-color: rgb(33, 33, 253);
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    font-size: 15px;
    float: right;
    margin: 2% 0% 0% 0%;
}

.lookButtonChange:hover {
    background-color: white;
    color: rgb(33, 33, 253);
}