<div class="title-header">
    <div class="title">
        Trademark Inc.
    </div>
    <div>
        <button type="button" class="btn btn-dark sign-up-in">
            Sign up / Sign in
        </button>
    </div>
</div>
<div class="animated fadeInDown">
    <div class="welcome">
        Welcome to AeroCar
    </div>       
    <div style="margin: auto; width: 100%; text-align: center;">
        <button type="button" class="animated fadeInUpBig btn btnAeroplane">
            <img src="/../../assets/aeroplane.png" width="250" height="250">
        </button>
        <button type="button" class="animated fadeInUpBig btn btnCar">
            <img src="/../../assets/car.png"  width="250" height="250">
        </button>
    </div>
</div>
