<div class="title-header">
    <div class="title">
        Trademark Inc.
    </div>
    <div>
        <button type="button" class="btn btn-dark sign-up-in buttonColorSign-up-in">
            Sign up / Sign in
        </button>
    </div>
</div>
<div >
    <div class="welcome animated fadeInDown">
        Welcome to AeroCar
    </div>       
    <div style="text-align: center;">
        <button type="button" class="btn btnAeroplane animated fadeInUp buttonColor">
            <img src="/../../assets/aeroplane.png" width="200" height="200" style="margin: 25px;">
        </button>
        <div class="space">

        </div>
        <button type="button" class="btn btnCar animated fadeInUp buttonColor">
            <img src="/../../assets/car.png"  width="200" height="200" style="margin: 25px;">
        </button>
    </div>
</div>
<div style="text-align: center;">
    <div class="titleFlightsCars animated fadeInUpBig">
        Flights
    </div>
    <div class="space">

    </div>
    <div class="titleFlightsCars animated fadeInUpBig">
        Cars
    </div>
</div>
