.welcome {
    font-size: 50px;
    text-align: center;
    margin: 25px;
}

.btnAeroplaneCar {
    border: 5px solid #444444;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    transition-duration: 0.4s;
}

.btnAeroplaneCar:hover {
    background-color:lightgray;
}

.space {
    width: 100px;
    display: inline-block;
}

.titleFlightsCars {
    font-size: 30px;
    margin: auto;
    display: inline-block;
    text-align: center;
    width: 280px;
}
