<div >
    <div class="welcome animated fadeInDown">
        Welcome to AeroCar
    </div>       
    <div style="text-align: center;">
        <button type="button" class="btn btnAeroplaneCar animated fadeInUp">
            <img src="/../../assets/aeroplane.png" width="200" height="200" style="margin: 25px;">
        </button>
        <div class="space">

        </div>
        <button type="button" class="btn btnAeroplaneCar animated fadeInUp">
            <img src="/../../assets/car.png"  width="200" height="200" style="margin: 25px;">
        </button>
    </div>
</div>
<div style="text-align: center;">
    <div class="titleFlightsCars animated fadeInUpBig">
        Flights
    </div>
    <div class="space">

    </div>
    <div class="titleFlightsCars animated fadeInUpBig">
        Cars
    </div>
</div>
