<div class="lookTittle animated fadeInDown">
    You can add, modify and delete seats.
</div>
<br>
<div class="cointainer lookBigDiv" style="background-color: white;">
    <div style="margin: 25px;">
        <div>
            <table class="table" style="background-color: white; border-radius: 10px;">
                <tr *ngFor="let row of seatCount;">
                    <td *ngFor="let col of rowCount;" #clickedElement class="lookTd" (click)="addRemoveSeat(clickedElement, col+row*rowCount.length);">
                        {{col+row*rowCount.length}}
                    </td>
                </tr>
            </table>
        </div>
        <div style="overflow: hidden;">
            <button routerLink="/admin/avio/aeroplanes" routerLinkActive="active" class="lookButtonCancel" type="button">Cancel</button>
            <button class="lookButtonSave" type="button">Save</button>
        </div>
    </div>   
</div>
