<div class="lookTittle animated fadeInDown">
    You can add, modify and delete seats.
</div>
<br>
<div class="cointainer lookBigDiv" style="background-color: white;">
    <div style="margin: 25px;">
        <div>
            <table class="table" style="background-color: white; border-radius: 10px;">
                <tr *ngFor="let row of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
                26,27,28,29,30]">
                    <td *ngFor="let col of [0,1,2,3,4,5]" class="lookTd">
                        {{col+row*6}}
                    </td>
                </tr>
            </table>
        </div>
        <div style="overflow: hidden;">
            <button routerLink="/admin/avio/aeroplanes" routerLinkActive="active" class="lookButtonCancel" type="button">Cancel</button>
            <button class="lookButtonSave" type="button">Save</button>
        </div>
    </div>   
</div>
