<div class="lookTittle animated fadeInDown">
    Here is list of Your friends.
</div>
<br>
<div class="container lookBigDiv">
    <table class="table" style="background-color: rgb(223, 239, 245);">
        <tr class="lookRow">
            <td class="lookTd">Friend1</td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend2</td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend3</td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend4</td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend5</td>
        </tr>
    </table>
    <div style="width: 100%; overflow: hidden;">
        <input class="lookAddRemoveTextBox" type="text">
        <button class="lookAddRemoveButtons" type="button">Add friend</button><br>
        <input class="lookAddRemoveTextBox" type="text">
        <button class="lookAddRemoveButtons" type="button">Remove friend</button>
    </div>
</div>