<div class="container main">
    <h3>You can modify your office list here.</h3>
    <div class="list">
        <div class="list-item" *ngFor="let office of offices;">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: {{office.officeId}} 
                    </div>
                    <div class="office-location">
                        {{office.location.name}}
                    </div>
                </div>
                <div class="split-content-right">
                    Address: {{office.address}}
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add an office to your collection:</h4>
            <form class="form" #addOfficeForm="ngForm" (ngSubmit)="addOffice(addOfficeForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Location name:</i> </span>
                    </div>
                    <input name="city" ngModel required class="form-control" placeholder="eg. Belgrade" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Address:</i> </span>
                    </div>
                    <input name="address" ngModel required class="form-control" placeholder="eg. Boulevard of Broken Dreams 33/36" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove an office from your collection:</h4>
            <form class="form" #removeOfficeForm="ngForm" (ngSubmit)="removeOffice(removeOfficeForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Office id:</i> </span>
                    </div>
                    <input name="id" ngModel required class="form-control" placeholder="eg. 234" min="1" type="number">
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/car" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>