.logoTM {
    float: left;
    margin: 15px 0px 10px 15px;
    font-family: "Baskerville Old Face";
    font-size: 30px;
    vertical-align: middle;
}

.sign-in:hover {
    background-color: white;
    color: #343a40;
}

.sign-up-in {
    border: 1px solid #444444;
    border-radius: 10px;
    font-size: 20px;
    margin: 35px;
    float: right;
}

.sign-up-in:hover {
    background-color: white;
    color: #343a40;
}

.title-header {
    border-bottom: 2px solid #444444;
    margin: 15px 20px 0px 20px;
    overflow: hidden;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider-text::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: -50%;
    /*top: 55%;*/
    left: 0;
    z-index: 1;
}