.logoTM {
    float: left;
    margin: 15px 0px 10px 15px;
    font-family: "Baskerville Old Face";
    font-size: 30px;
    vertical-align: middle;
}

.sign-up-in {
    border: 1px solid #444444;
    border-radius: 10px;
    font-size: 20px;
    float: right;
    margin: 35px;
    transition-duration: 0.4s;
    float: right;
}

.sign-up-in:hover {
    background-color: white;
    color: black;
}

.title-header {
    border-bottom: 2px solid #444444;
    margin: 15px 20px 0px 20px;
    overflow: hidden;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }
