<div class="title-header">
    <div class="logoTM">
      <a routerLink="" routerLinkActive="active">
        <img src="/../../assets/TMlogo.png" width="330" height="85">
      </a>
    </div>
    <div>
        <button type="button" class="btn btn-dark sign-up-in" data-toggle="modal" data-target="#userSignIn" *ngIf="!showProfileButton">
            Sign up / Sign in
        </button>
        <button type="button" routerLink="/profile" class="btn btn-dark sign-up-in" *ngIf="showProfileButton">
          👤 {{username}}
      </button>
    </div>
</div>

<div #loginModal class="modal fade" id="userSignIn" tabindex="0" role="dialog" aria-labelledby="userSignIn" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userSignIn">Sign in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div style="margin: 25px 25px 25px 25px; text-align: center;">
                <img src="/../../assets/aerocar_logo.png" width="32%" height="12%"/>
            </div>
            <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
              <div class="form-group row">
                <label for="lat" class="col-sm-4 col-form-label">Username:</label>
                <div class="col-sm-8">
                    <input name="username" ngModel required type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
              </div>
              <div class="form-group row">
                <label for="lat" class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input name="password" ngModel required type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-dark sign-in" style="width: 100%;">Sign In</button>
                </div>
              </div>
              <div class="form-group row">
                <div class="col">
                  <div class="loader" *ngIf="loading"></div>
                  <div class="failed" *ngIf="failed">✗ Invalid login username or password.</div>
                </div>
              </div>
            </form>
              <div class="divider-text">
                <div>
                  <span style="color: gray;">
                    Or login with
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <div class="fb-login-button" style="text-align: center; width: 100%;" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false">
                </div>
              </div>
              <div class="form-group row">
                <div class="col s12 m6 offset-m3 center-align" style="text-align: center;">
                    <a class="oauth-container btn darken-4 white black-text" href="/users/google-oauth/" style="text-transform:none">
                        <div class="left" style="border: 1px solid transparent; border-radius: 5px; background-color: lightgray;">
                            <div style="margin: 5px 15px 5px 15px;">
                                <img width="20px" style="margin: 0px 5px 2px 0px;" alt="Google sign-in" 
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                Continue with Google
                            </div>
                        </div>
                    </a>
                </div>
              </div>
              <p class="divider-text" style="margin-bottom: 0px;">
                <span style="color: gray;">
                  Don't have an account? <a routerLink="/signup" routerLinkActive="active" data-dismiss="modal">Sign Up</a> 
                </span>
              </p>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="signIn()">Sign In</button>
          </div>
          -->
        </div>
      </div>
    </div>
</div>
