.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.sign-up:hover {
    background-color: white;
    color: #343a40;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #343a40; /* Blue */
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success {
    border: 1px solid darkgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: darkgreen;
    background-color: lightgreen;
    padding: 20px;
}

.failed {
    border: 1px solid darkred;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: darkred;
    background-color: lightcoral;
    padding: 20px;
}