<div class="container main">
    <h3>You can modify your admin list here.</h3>
    <div class="list">
        <div class="list-item" *ngFor="let item of items;">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: {{item.id}}
                    </div>
                    <div class="office-location">
                        {{item.username}}
                    </div>
                </div>
                <div class="split-content-right">
                    Type: <b>{{item.adminType}}</b>
                    <br/>
                    Company: <b>{{item.company}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add an avio company admin:</h4>
            <form class="form" #addAvioAdminForm="ngForm" (ngSubmit)="addAvioAdmin(addAvioAdminForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Username:</i> </span>
                    </div>
                    <input name="username" ngModel required class="form-control" placeholder="eg. Someuser123" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Password:</i> </span>
                    </div>
                    <input name="password" ngModel required class="form-control" placeholder="eg. somepass123" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Confirm password:</i> </span>
                    </div>
                    <input name="confirmPassword" ngModel required class="form-control" placeholder="eg. somepass123" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Select a company:</i> </span>
                    </div>
                    <select name="companyName" ngModel required class="form-control">
                        <option *ngFor="let company of avioCompanies;" [ngValue]="company.name">{{company.name}}</option>
                    </select>
                </div> <!-- form-group// -->   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading1"></div>
                    <div class="success" *ngIf="success1">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed1">✗ Not successufully.</div>  
                </div>      
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove an avio company admin:</h4>
            <form class="form" #removeAvioAdminForm="ngForm" (ngSubmit)="removeAvioAdmin(removeAvioAdminForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Admin id:</i> </span>
                    </div>
                    <input name="id" ngModel required class="form-control" placeholder="eg. 234" type="text">
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->     
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading2"></div>
                    <div class="success" *ngIf="success2">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed2">✗ Not successufully.</div>  
                </div> 
            </form>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add a rent-a-car admin:</h4>
            <form class="form" #addCarAdminForm="ngForm" (ngSubmit)="addCarAdmin(addCarAdminForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Username:</i> </span>
                    </div>
                    <input name="username" ngModel required class="form-control" placeholder="eg. Someuser123" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Password:</i> </span>
                    </div>
                    <input name="password" ngModel required class="form-control" placeholder="eg. somepass123" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Confirm password:</i> </span>
                    </div>
                    <input name="confirmPassword" ngModel required class="form-control" placeholder="eg. somepass123" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Select a company:</i> </span>
                    </div>
                    <select name="companyName" ngModel required class="form-control">
                        <option *ngFor="let company of carCompanies" [ngValue]="company.name">{{company.name}}</option>
                    </select>
                </div> <!-- form-group// -->   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->     
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading3"></div>
                    <div class="success" *ngIf="success3">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed3">✗ Not successufully.</div>  
                </div> 
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove a rent-a-car admin:</h4>
            <form class="form" #removeCarAdminForm="ngForm" (ngSubmit)="removeCarAdmin(removeCarAdminForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Admin id:</i> </span>
                    </div>
                    <input name="id" ngModel required class="form-control" placeholder="eg. 234" type="text">
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->  
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading4"></div>
                    <div class="success" *ngIf="success4">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed4">✗ Not successufully.</div>  
                </div>    
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/system" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>