<div class="lookTittle animated fadeInDown">
    Details about passenger.
</div>
<br>
<div class="container lookBigDiv">
    <div style="margin: 25px;">
        <form class="form" #detailsForm="ngForm" (ngSubmit)="confirm(detailsForm);">
            <div style="width: 80%;">
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Name:</label>
                    <input name="name" [(ngModel)]="reservation.name" required placeholder="Name" style="float: right; margin: 1%;" type="text">
                </div>
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Surname:</label>
                    <input name="surname" [(ngModel)]="reservation.surname" required placeholder="Surname" style="float: right; margin: 1%;" type="text">
                </div>
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Passport ID:</label>
                    <input name="passport" [(ngModel)]="reservation.passport" required placeholder="Number of passport" style="float: right; margin: 1%;" type="text">
                </div>
                <div style="overflow: hidden;">
                    <label style="margin-left: 2%; font-size: 40px; font-weight: bold;">
                        Price:
                        <br/>
                        ${{flight.price}}
                    </label>
                </div>
            </div>
            <!--
            <hr>
            <div style="width: 80%;">
                <div style="overflow: hidden;">
                    <label class="lookLabel">Seat seat1</label>
                </div>
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Name1</label>
                    <input placeholder="Name" style="float: right; margin: 1%;" type="text">
                </div>
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Surname1</label>
                    <input placeholder="Surname" style="float: right; margin: 1%;" type="text">
                </div>
                <div style="overflow: hidden;">
                    <label class="lookLabelSmallLeft">Number of passport1</label>
                    <input placeholder="Number of passport" style="float: right; margin: 1%;" type="text">
                </div>
            </div>
            -->
            <br>
            <div style="overflow: hidden;">
                <button (click)="cancel();" routerLinkActive="active" class="lookButtonCancel" type="button">Cancel</button>
                <!--<button data-toggle="modal" data-target="#confirm" class="lookButtonSave" type="submit">Confirm</button>-->
                <button class="lookButtonSave" type="submit">Confirm</button>
            </div>
        </form>
        <div style="overflow: hidden;">
            <div class="loader" *ngIf="loading"></div> 
            <div class="success" *ngIf="success">✓ Successufully confirmed a reservation.</div> 
            <div class="failed" *ngIf="failed">✗ An error occured.<br><b>Error: {{errorConfirmReservation}}</b><br>Additional info: {{errorConfirmReservationInfo}}</div>
        </div> 
        <div *ngIf="reservation.name != null && reservation.surname != null && reservation.passport != null &&
                    reservation.name != '' && reservation.surname != '' && reservation.passport !== '' &&
                    showAdditional">
            <hr>
            <div class="additional">
                <div style="overflow: hidden;">
                    <label>Invite other people:</label>
                    <button type="button" class="btn btn-dark lookButtonSave" (click)="loadFriends();" data-toggle="modal" data-target="#confirm">Invite</button>
                </div>
                <br/>
                <div style="overflow: hidden;">
                    <label>Reserve for another person:</label>
                    <button type="button" class="btn btn-dark lookButtonSave" (click)="reserve();">Reserve</button>
                </div>
            </div>
            <hr>
            <div style="overflow: hidden;" *ngIf="returnFlights != null;">
                <label>Choose a return flight:</label>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let flight of returnFlights;">                    
                            <td>
                                <a (click)="reserveReturn(flight.flightId);">
                                <div class="look-list-item">
                                    <div class="look-list-content">
                                        <div class="look-list-content-left-up">
                                            <label> Departing: {{flight.departure.substring(0, 10)}} at {{flight.departure.substring(11, flight.departure.length - 3)}} 
                                                    <br/>
                                                    Arriving: {{flight.arrival.substring(0, 10)}} at {{flight.arrival.substring(11, flight.arrival.length - 3)}}</label>
                                        </div>
                                        <div class="look-list-content-left-down">
                                            <label>{{flight.travelTime}}h</label>
                                        </div>                         
                                    </div>
                                    <div class="look-list-content">
                                        <div class="look-list-content-center-up">
                                            <label>{{flight.departureLocation.name}} -> <i *ngFor="let city of flight.transit;">{{city.name}} -> </i>{{flight.arrivalLocation.name}}</label>
                                        </div>         
                                    </div>
                                    <div class="look-list-content" style="text-align: right;">
                                        <div>
                                            <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                        </div>
                                        <div class="price">
                                            <label>${{flight.price}}</label>
                                        </div>                         
                                    </div>
                                </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        </div>
    </div>  
</div>
<div #confirmModal class="modal fade" id="confirm" tabindex="0" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirm" style="font-size: 25px; color: #444444;">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="margin: 10px; background-color: rgb(223, 239, 245);">
            <div style="margin: 15px">
                <label class="lookLabel">Great!<br>Choose someone to invite.</label>
            </div>
            <hr>
            <div style="overflow: hidden; width: 90%; margin: 15px;">
                <form class="form" #inviteForm="ngForm" (ngSubmit)="invite(inviteForm);">
                    <label class="lookLabelSmallLeft">Friend:</label>
                    <select name="username" ngModel required class="form-control">
                        <option *ngFor="let friend of friends;" [ngValue]="friend.username">
                            {{friend.username}}
                        </option>
                    </select>
                    <br/>
                    <button class="btn btn-dark lookButtonSave" type="submit">Invite</button>
                </form>
            </div>
            <br>             
          </div>
          <div style="overflow: hidden;">               
            <button class="lookButtonCancelSmall" data-dismiss="modal" type="button">Cancel</button>
        </div> 
        </div>       
    </div>
</div>