<div class="lookTittle animated fadeInDown">
    Select seats.
</div>
<br>
<div class="cointainer lookBigDiv" style="background-color: white;">
    <div style="margin: 25px;">
        <div>
            <table class="table" style="background-color: white; border-radius: 10px;">
                <tr *ngFor="let row of seatCount;">
                    <td *ngFor="let col of rowCount;">
                        <button (click)="next(col+row*rowCount.length);" class="lookTdButton" type="button">
                            {{col+row*rowCount.length}}
                        </button>         
                        <!--
                        <button data-toggle="modal" data-target="#seatsList" class="lookTdButton" type="button">
                            {{col+row*rowCount.length}}
                        </button>         
                        -->  
                    </td>
                </tr>
            </table>
        </div>
        <div style="overflow: hidden;">
            <button routerLinkActive="active" class="lookButtonCancel" type="button">Cancel</button>
        </div>
    </div>   
</div>
<div class="modal fade" id="seatsList" tabindex="0" role="dialog" aria-labelledby="seatsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="seatsList" style="font-size: 25px; color: #444444;">Reservation seats</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="margin: 10px;">
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow">
                    <label class="lookLabelTable">Seat seat1:</label>
                </tr>
                <tr class="lookRow">
                    <td class="lookTd" style="overflow: hidden;">               
                        <label class="lookLabelTableSmall">Friend1</label>
                        <button class="lookSendButton" type="button">Chose</button>
                    </td>            
                </tr>
                <tr class="lookRow" style="width: 100%;">
                    <td class="lookTd" style="width: 50%; border: 1px solid black;">               
                        <label class="lookLabelTableSmall">Friend1</label>
                        <button class="lookSendButton" type="button">Chose</button>
                    </td>           
                </tr>
                <tr class="lookRow" style="width: 100%;">
                    <td class="lookTd">                       
                        <label class="lookLabelTableSmall">Friend1</label>    
                        <button class="lookSendButton" type="button">Chose</button>
                    </td>           
                </tr>
            </table>
            <div>
                <button style="width: 150px;" class="lookSendButton" type="button">Chose Yourself</button>
            </div>
            <br>
            <div>
                <button style="width: 350px; margin-top: 1%;" class="lookSendButton" type="button">Chose friend which does not have account</button>
            </div>
            <br>
            <br>
            <div style="overflow: hidden;">               
                <button class="lookButtonCancelSmall" type="button">Cancel</button>
            </div>              
          </div>
        </div>       
    </div>
</div>
