<div class="container main">
    <h3>You can modify your rent-a-car company list here.</h3>
    <div class="list">
        <div class="list-item" *ngFor="let item of items;">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: {{item.id}} 
                    </div>
                    <div class="office-location">
                        {{item.name}}
                    </div>
                </div>
                <div class="split-content-right">
                    Address: {{item.address}}
                </div>
                <div class="office-additional">
                    {{item.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add a rent-a-car company:</h4>
            <form class="form" #addForm="ngForm" (ngSubmit)="addCompany(addForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Company name:</i> </span>
                    </div>
                    <input name="name" ngModel required class="form-control" placeholder="eg. Fastacar" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Address:</i> </span>
                    </div>
                    <input name="address" ngModel required class="form-control" placeholder="eg. Boulevard of Broken Dreams 33/36, New Now" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Description:</i> </span>
                    </div>
                    <textarea name="description" ngModel required class="form-control" style="height: 90px;" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when..."></textarea>
                </div> <!-- form-group// -->   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading1"></div>
                    <div class="success" *ngIf="success1">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed1">✗ Not successufully.</div>  
                </div>      
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove a rent-a-car company:</h4>
            <form class="form" #removeForm="ngForm" (ngSubmit)="removeCompany(removeForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Company id:</i> </span>
                    </div>
                    <input name="id" ngModel required class="form-control" placeholder="eg. 234" type="text">
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->   
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading2"></div>
                    <div class="success" *ngIf="success2">✓ Successufully.</div>
                    <div class="failed" *ngIf="failed2">✗ Not successufully.</div>  
                </div>   
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/system" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>