<div class="lookTittle animated fadeInDown">
    Here You can accept or reject invitations from Your friends.
</div>
<br>
<div class="container lookBigDiv">
    <table class="table" style="background-color: rgb(223, 239, 245);">
        <tr class="lookRow">
            <td class="lookTd">Friend 1 has sent You an invitation</td>
            <td class="lookTd"><button class="lookAcceptButton">Accept</button></td>
            <td class="lookTd"><button class="lookRejectButton">Reject</button></td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend 1 has sent You an invitation</td>
            <td class="lookTd"><button class="lookAcceptButton">Accept</button></td>
            <td class="lookTd"><button class="lookRejectButton">Reject</button></td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend 1 has sent You an invitation</td>
            <td class="lookTd"><button class="lookAcceptButton">Accept</button></td>
            <td class="lookTd"><button class="lookRejectButton">Reject</button></td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend 1 has sent You an invitation</td>
            <td class="lookTd"><button class="lookAcceptButton">Accept</button></td>
            <td class="lookTd"><button class="lookRejectButton">Reject</button></td>
        </tr>
        <tr class="lookRow">
            <td class="lookTd">Friend 1 has sent You an invitation</td>
            <td class="lookTd"><button class="lookAcceptButton">Accept</button></td>
            <td class="lookTd"><button class="lookRejectButton">Reject</button></td>
        </tr>
    </table>
</div>