<div class="look-div-up">
    <div class="aeroplane-background">
        <img src="/../../assets/aeroplaneBackground.png" width="150px">
    </div>
    <div>
        <label class="slogan-fly">Fly with us.</label>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel">               
                </div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>      
        </div>
    </div>
    
</div>
<div style="display: flex;">
    <div class="look-div-left" style="margin: 2%;">
        <form>
            <div style="overflow: hidden;">
                <label class="look-label">Origin:</label>
                <input type="text" class="look-box form-control" placeholder="from (city)"> 
            </div>
            <div style="overflow: hidden;">
                <label class="look-label">Destination:</label>
                <input type="text" class="look-box form-control" placeholder="to (city)">
            </div> 
            <div style="overflow: hidden;">
                <label class="look-label">Ticket type:</label>
            <select id="tickets" class="look-combo-box form-control">
                <option value="Round-trip">Round trip</option>
                <option value="One-way">One way</option>
            </select>
            </div>
            <div style="overflow: hidden;">
                <label class="look-label">Departure:</label>
                <input type="date" class="look-box form-control">
            </div>
            <div style="overflow: hidden;">
                <label class="look-label">Arrival:</label>
                <input type="date" class="look-box form-control">
            </div>
            <div style="overflow: hidden;">
                <label class="look-label">Passengers:</label>               
            </div>
            <div style="overflow: hidden;">
                <input type="text" class="look-small-box">
                <label style="font-size: 23px;" class="look-label" >Adults (15+ years)</label>               
            </div>            
            <div style="overflow: hidden;">
                <input type="text" class="look-small-box">
                <label style="font-size: 23px;" class="look-label">Children (3-14 years)</label>                
            </div>
            <div style="overflow: hidden;">
                <input type="text" class="look-small-box">
                <label style="font-size: 23px;" class="look-label">Infants (0-2 year/s)</label>               
            </div>     
            <div>
                <button type="button" class="btn look-button-search">Search</button>
            </div>       
        </form>
    </div>
    <div class="look-div-right">
        <div class="look-list-no-content" hidden>
            <label>No content</label>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>
<hr style="width: 95%; border: 1px solid lightgray;">
<div class="look-div-down">
    <div class="details">
        <label>More details about our flights companies</label>
    </div>
    <div>
        <table class="table">
            <tr>
                <td>
                    <div class="details-item">
                        <div style="text-align: center; display: inline-block; width: 30%;">
                            <div>
                                <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                            </div>
                            <div class="rating">
                                <label>Rating</label>
                            </div>
                            <div>
                                <img src="/../../assets/ratings/5.png" width="170px" height="35px">
                            </div>
                            <div style="color: #444444;">
                                <label>4.6/5</label>
                            </div>
                        </div>
                        <div style="display: inline-block; width: 60%;">
                            <b>Address: Some Address XY/Z, Somecity</b><br>
                            <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with
                                the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus
                                PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="details-item">
                        <div style="text-align: center; display: inline-block; width: 30%;">
                            <div>
                                <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                            </div>
                            <div class="rating">
                                <label>Rating</label>
                            </div>
                            <div>
                                <img src="/../../assets/ratings/3.png" width="170px" height="35px">
                            </div>
                            <div style="color: #444444;">
                                <label>3.0/5</label>
                            </div>
                        </div>
                        <div style="display: inline-block; width: 60%;">
                            <b>Address: Some Address XY/Z, Somecity</b><br>
                            <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with
                                the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus
                                PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="details-item">
                        <div style="text-align: center; display: inline-block; width: 30%;">
                            <div>
                                <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                            </div>
                            <div class="rating">
                                <label>Rating</label>
                            </div>
                            <div>
                                <img src="/../../assets/ratings/0.png" width="170px" height="35px">
                            </div>
                            <div style="color: #444444;">
                                <label>0/5</label>
                            </div>
                        </div>
                        <div style="display: inline-block; width: 60%;">
                            <b>Address: Some Address XY/Z, Somecity</b><br>
                            <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with
                                the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus
                                PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
