<div class="look-div-up">
    <div class="aeroplane-background">
        <img src="/../../assets/aeroplaneBackground.png" width="150px">
    </div>
    <div>
        <label class="slogan-fly">Fly with us.</label>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel">               
                </div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>      
        </div>
    </div>
    
</div>
<div style="display: flex;">
    <div class="lookDivLeft">
        <form style="padding: 25px;" #searchForm="ngForm" (ngSubmit)="search(searchForm);"> 
            <div style="overflow: hidden;">
                <label class="lookLabel">Origin:</label>
                <input name="origin" ngModel required type="text" class="lookBox form-control" placeholder="from (city)"> 
            </div>
            <div style="overflow: hidden;">
                <label class="lookLabel">Destination:</label>
                <input name="destination" ngModel required type="text" class="lookBox form-control" placeholder="to (city)">
            </div> 
            <div style="overflow: hidden;">
                <label class="lookLabel">Ticket type:</label>
            <select name="ticket" ngModel requried id="tickets" class="lookComboBox form-control">
                <option value="2">Round trip</option>
                <option value="1">One way</option>
            </select>
            </div>
            <div style="overflow: hidden;">
                <label class="lookLabel">Departure:</label>
                <input name="departure" ngModel required type="date" class="lookBox form-control">
            </div>
            <div style="overflow: hidden;">
                <label class="lookLabel">Arrival:</label>
                <input name="arrival" ngModel required type="date" class="lookBox form-control">
            </div>
            <div style="overflow: hidden;">
                <label class="lookLabel">Passengers:</label>               
            </div>
            <div style="overflow: hidden;">
                <input name="adults" ngModel required type="text" class="lookSmallBox">
                <label style="font-size: 15px;" class="lookLabel" >Adults (15+ years)</label>               
            </div>            
            <div style="overflow: hidden;">
                <input name="children" ngModel required type="text" class="lookSmallBox">
                <label style="font-size: 15px;" class="lookLabel">Children (3-14 years)</label>                
            </div>
            <div style="overflow: hidden;">
                <input name="infants" ngModel required type="text" class="lookSmallBox">
                <label style="font-size: 15px;" class="lookLabel">Infants (0-2 year/s)</label>               
            </div>     
            <div>
                <button style="margin-bottom: 20px;" type="submit" class="lookButtonSearch">Search</button>
            </div>       
        </form>
    </div>
    <div class="look-div-right">
        <div style="margin-left: 25px; margin-top: 25px;">
            <label class="lookLabel">Filter by</label>
        </div>
        <div style="padding-left: 45px; padding-right: 45px; width: 100%; display: flex;">
            <div style="width: 50%; display: inline-block;">
                <label class="lookLabel">- Avio company</label><br>
                <label class="lookLabel">- Total flight duration</label><br>
                <label class="lookLabel">- Price</label>
            </div>
            <div style="width: 50%; display: inline-block;">
                <select class="lookComboBox">
                    <option>None</option>
                    <option>AC 1</option>
                    <option>AC 2</option>
                    <option>AC 3</option>
                </select>
                <select class="lookComboBox">
                    <option>None</option>
                    <option>0 - 30 min</option>
                    <option>30 - 60 min</option>
                    <option>60 - 120 min</option>
                    <option>120 - 180 min</option>
                    <option>180 - 240 min</option>
                    <option>240 - 280 min</option>
                    <option>280 min and more</option>
                </select>
                <select class="lookComboBox">
                    <option>None</option>
                    <option>0 - 100 $</option>
                    <option>100 - 200$</option>
                    <option>300 - 400$</option>
                    <option>400 - 500$</option>
                    <option>500 - 600$</option>
                    <option>600 - 700$</option>
                    <option>700$ and more</option>
                </select>
                <button style="margin-top: 25px;" class="lookButtonSearch" type="button">Filter</button>
            </div>
        </div>
        <hr>
        <div class="look-list-no-content" hidden>
            <label>No content</label>
        </div>
        <table class="table">
            <tbody>
                <tr>                    
                    <td>
                        <a routerLink="/flights/reservation">
                        <div class="look-list-item">
                            <div class="look-list-content">
                                <div class="look-list-content-left-up">
                                    <label>13.00 - 14.15</label>
                                </div>
                                <div class="look-list-content-left-down">
                                    <label>1h 15min</label>
                                </div>                         
                            </div>
                            <div class="look-list-content">
                                <div class="look-list-content-center-up">
                                    <label>Belgrade -> Vienna</label>
                                </div>
                                <div class="direct-or-transit">
                                    <label>Direct flight</label>
                                </div>       
                                <div class="seats-left">
                                    <label>4 seats left</label>
                                </div>                  
                            </div>
                            <div class="look-list-content" style="text-align: right;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="150px" height="50px">
                                </div>
                                <div class="price">
                                    <label>135$</label>
                                </div>                         
                            </div>
                        </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>
<hr style="width: 95%; border: 1px solid lightgray;">
<div class="look-div-down">
    <div class="details">
        <a name="scroll"></a>
        <label>More details about our flights companies</label>
    </div>
    <div>
        <table class="table">
            <tr>
                <td>
                    <a routerLink="profile">
                        <div class="details-item">
                            <div style="text-align: center; display: inline-block; width: 30%;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                                </div>
                                <div class="rating">
                                    <label>Rating</label>
                                </div>
                                <div>
                                    <img src="/../../assets/ratings/5.png" width="170px" height="35px">
                                </div>
                                <div style="color: #444444;">
                                    <label>4.6/5</label>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 60%;">
                                <b>Address: Some Address XY/Z, Somecity</b><br>
                                <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                                <p class="text">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining
                                    essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus
                                    PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="profile">
                        <div class="details-item">
                            <div style="text-align: center; display: inline-block; width: 30%;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                                </div>
                                <div class="rating">
                                    <label>Rating</label>
                                </div>
                                <div>
                                    <img src="/../../assets/ratings/3.png" width="170px" height="35px">
                                </div>
                                <div style="color: #444444;">
                                    <label>3.0/5</label>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 60%;">
                                <b>Address: Some Address XY/Z, Somecity</b><br>
                                <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                                <p class="text">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining
                                    essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus
                                    PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="profile">
                        <div class="details-item">
                            <div style="text-align: center; display: inline-block; width: 30%;">
                                <div>
                                    <img src="/../../assets/aerocar_logo.png" width="170px" height="70px">
                                </div>
                                <div class="rating">
                                    <label>Rating</label>
                                </div>
                                <div>
                                    <img src="/../../assets/ratings/0.png" width="170px" height="35px">
                                </div>
                                <div style="color: #444444;">
                                    <label>0/5</label>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 60%;">
                                <b>Address: Some Address XY/Z, Somecity</b><br>
                                <b>Travels to: Belgrade, Vienna, London, Zurich, Berlin</b>                           
                                <p class="text">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining
                                    essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus
                                    PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
