<div class="lookTittle animated fadeInDown">
    Pick a plane wich seats You going to change.
</div>
<br>
<div class="container lookBigDiv" style="margin: auto;">
    <div style="margin: 25px;">
        <table class="table">
            <tr>
                <td class="lookTd">
                    <label class="lookLabelTop">Id</label><br>
                    <label class="lookLabelDown">1</label>
                </td>
                <td class="lookTd" style="text-align: center;">
                    <label class="lookLabelTop">Aeroplane</label><br>
                    <label class="lookLabelDown"> Airbus A380</label>
                </td>                   
                <td class="lookTd">      
                    <button routerLink="/admin/avio/aeroplanes/seats" routerLinkActive="active" class="lookButton" type="button">Change seats</button>                                     
                </td>
            </tr>
            <tr>
                <td class="lookTd">
                    <label class="lookLabelTop">Id</label><br>
                    <label class="lookLabelDown">1</label>
                </td>
                <td class="lookTd" style="text-align: center;">
                    <label class="lookLabelTop">Aeroplane</label><br>
                    <label class="lookLabelDown"> Airbus A380</label>
                </td>                   
                <td class="lookTd">      
                    <button routerLink="/admin/avio/aeroplanes/seats" routerLinkActive="active" class="lookButton" type="button">Change seats</button>                                   
                </td>          
            </tr>
            <tr>
                <td class="lookTd">
                    <label class="lookLabelTop">Id</label><br>
                    <label class="lookLabelDown">1</label>
                </td>
                <td class="lookTd" style="text-align: center;">
                    <label class="lookLabelTop">Aeroplane</label><br>
                    <label class="lookLabelDown"> Airbus A380</label>
                </td>                   
                <td class="lookTd">      
                    <button routerLink="/admin/avio/aeroplanes/seats" routerLinkActive="active" class="lookButton" type="button">Change seats</button>                                   
                </td>        
            </tr>
            <tr>
                <td class="lookTd">
                    <label class="lookLabelTop">Id</label><br>
                    <label class="lookLabelDown">1</label>
                </td>
                <td class="lookTd" style="text-align: center;">
                    <label class="lookLabelTop">Aeroplane</label><br>
                    <label class="lookLabelDown"> Airbus A380</label>
                </td>                   
                <td class="lookTd">      
                    <button routerLink="/admin/avio/aeroplanes/seats" routerLinkActive="active" class="lookButton" type="button">Change seats</button>                                    
                </td>         
            </tr>          
        </table>        
    </div>
    <div style="overflow: hidden;">
        <button routerLink="/admin/avio" routerLinkActive="active" class="lookButtonCancel" type="button">Cancel</button>
        <button class="lookButtonSave" type="button">Save</button>          
    </div> 
</div>