<div class="container main">
    <div class="line">
        <h2>Basic options</h2>
    </div>
    <div class="line">
        <div class="left">
            Add or remove any avio company
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="/admin/system/register/avio">Avio Comp.</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            Add or remove any rent-a-car company
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="/admin/system/register/car">Rent-A-Car Comp.</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            Create additional administrators
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="/admin/system/register/admin">Admins</button>
        </div>
    </div>    
</div>