<div class="lookTittle animated fadeInDown">
    Welcome {{profile.userName}}!
</div>
<br>
<div class="container lookBigDiv">   
    <div style="display: inline-block; width: 45%;">
        <div style="float: left;">
            <label class="lookLabel">Your profile</label><br>
            <label class="lookLabel">List of Your friends</label>
        </div>
        <div style="float: right;">  
            <button routerLink="/profile" routerLinkActive="active" class="lookButton" type="button">Click here</button><br><br>
            <button routerLink="/dashboard/friends" routerLinkActive="active" class="lookButton" type="button">Friend list</button>
        </div>          
    </div>
    <div class="space">
    </div>
    <div style="display: inline-block; width: 45%;">
        <div style="float: left;">
            <label class="lookLabel">Invitations</label><br>
            <label class="lookLabel">Bonus points</label>
        </div>
        <div style="float: right;">
            <button routerLink="/dashboard/notifications" routerLinkActive="active" class="lookButton" style="margin: 5% 0% 0% 0%;" type="button">More</button><br><br> 
            <label class="lookLabelBonus">{{profile.bonus}}</label>
        </div>                   
    </div>   
    <hr>  
    <div style="display: inline-block; width: 45%; vertical-align: top;">
        <label class="lookLabel">View history of Your flights and rented cars</label><br>
        <div style="float: left;">
            <label class="lookLabel" style="font-size: 20px;">- Flights</label><br>
            <label class="lookLabel" style="font-size: 20px;">- Cars</label>
        </div>
        <div style="float: right;">
            <button class="lookButton" (click)="loadFlightsHistory();" data-toggle="modal" data-target="#flightsList" type="button" style="float: right;  margin: 1% 0% 0% 0%;">Click here</button><br><br>      
            <button class="lookButton" (click)="loadCarsHistory();" type="button" style="float: right;  margin: 1% 0% 0% 0%;" data-toggle="modal" data-target="#carsList">Click here</button>
        </div>        
    </div>
    <div class="space">
    </div>
    <div style="display: inline-block; width: 45%;" >
        <label class="lookLabel">List of avio company and cars in our system</label><br>
        <div style="float: left;">
            <label class="lookLabel" style="font-size: 20px;">- Avio company</label><br>
            <label class="lookLabel" style="font-size: 20px;">- Rent-a-car</label>
        </div>
        <div style="float: right;">
            <button routerLink="/flights" routerLinkActive="active" class="lookButton" type="button" style="float: right; margin: 1% 0% 0% 0%;">AC list</button><br><br>          
            <button routerLink="/cars" routerLinkActive="active" class="lookButton" type="button" style="float: right;  margin: 1% 0% 0% 0%;">Cars list</button>
        </div>        
    </div>
    <hr>
    <div style="display: inline-block; width: 45%;">
        <label class="lookLabel">Your reservation of flights and cars</label><br>
        <div style="float: left;" >
            <label class="lookLabel" style="font-size: 20px;">- Flights</label><br>
            <label class="lookLabel" style="font-size: 20px;">- Cars</label>
        </div>
        <div style="float: right;">
            <button class="lookButton" (click)="loadFlightsReservations();" type="button" style="float: right; margin: 1% 0% 0% 0%;" data-toggle="modal" data-target="#reservationFlightsList">Click here</button><br><br>            
            <button class="lookButton" (click)="loadCarsReservations();" type="button" style="float: right; margin: 1% 0% 0% 0%;" data-toggle="modal" data-target="#reservationCarsList">Click here</button>
        </div>
    </div>
    <div class="space">
    </div>
    <div style="display: inline-block; width: 45%;">
        <label class="lookLabel">Rating of flights and cars</label><br>
        <div style="float: left;">
            <label class="lookLabel" style="font-size: 20px;">- Flights</label><br>
            <label class="lookLabel" style="font-size: 20px;">- Cars</label>
        </div>
        <div style="float: right;">
            <button class="lookButton" (click)="rateFlight();" type="button" style="float: right; margin: 1% 0% 0% 0%;" data-toggle="modal" data-target="#rateFlightsList">Click here</button><br><br>            
            <button class="lookButton" (click)="rateVehicle();" type="button" style="float: right; margin: 1% 0% 0% 0%;" data-toggle="modal" data-target="#rateCarsList">Click here</button>
        </div>
    </div>
</div>

<!-- HISTORY OF FLIGHTS -->
<div class="modal fade" id="flightsList" tabindex="0" role="dialog" aria-labelledby="flightsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flightsList" style="font-size: 25px; color: #444444;">Flights</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let flight of flightsHistory;">
                    <td class="lookTd">{{flight.departureLocation.name}} - {{flight.arrivalLocation.name}},<br>{{flight.departure}},<br>{{flight.avioCompanyName}}</td>
                </tr>
            </table>
        </div>       
    </div>
</div>

<!-- HISTORY OF CARS -->
<div class="modal fade" id="carsList" tabindex="0" role="dialog" aria-labelledby="carsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="carsList" style="font-size: 25px; color: #444444;">Cars</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let car of carsHistory;">
                    <td class="lookTd">{{car.pickUpLocation}} (Picked up),<br>{{car.pickUpDate}},<br>Company: {{car.carCompanyName}}<br/>Car: {{car.vehicleName}}</td>
                    <td class="lookTd">{{car.returnLocation}} (Will return/Returned),<br>{{car.returnDate}}</td>
                </tr>
            </table>
        </div>       
    </div>
</div>

<!-- TERMINABLE RESERVATIONS FLIGHT LIST -->
<div class="modal fade" id="reservationFlightsList" tabindex="0" role="dialog" aria-labelledby="reservationFlightsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reservationFlightsList" style="font-size: 25px; color: #444444;">Reservation (flights)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let flight of flightsHistory;">
                    <td class="lookTd"><b>ID: {{flight.reservationId}}</b><br>{{flight.departureLocation.name}} - {{flight.arrivalLocation.name}},<br>{{flight.departure}},<br>{{flight.avioCompanyName}}</td>
                </tr>
            </table>       
            <form #cancelReservationFlightForm="ngForm" (ngSubmit)="cancelReservationFlight(cancelReservationFlightForm);">     
                <div style="display: flex; margin: 0% 0% 1% 0%;">
                    <select class="lookReservationBox" name="reservationId" ngModel required>
                        <option value="{{flight.reservationId}}" *ngFor="let flight of flightsHistory;">{{flight.reservationId}}</option>
                    </select>
                    <button class="lookReservationButton" type="submit">Cancel reservation</button>  
                </div>
            </form>       
        </div>       
    </div>
</div>

<!-- TERMINABLE RESERVATIONS CARS LIST -->
<div class="modal fade" id="reservationCarsList" tabindex="0" role="dialog" aria-labelledby="reservationCarsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reservationCarsList" style="font-size: 25px; color: #444444;">Reservation (cars)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let car of carsHistory;">
                    <td class="lookTd"><b>ID: {{car.reservationId}}</b><br/>{{car.pickUpLocation}} (Picked up),<br>{{car.pickUpDate}},<br>Company: {{car.carCompanyName}}<br/>Car: {{car.vehicleName}}</td>
                    <td class="lookTd">{{car.returnLocation}} (Will return/Returned),<br>{{car.returnDate}}</td>
                </tr>
            </table>
            <form #cancelReservationCarForm="ngForm" (ngSubmit)="cancelReservationCar(cancelReservationCarForm);">
                <div style="display: flex; margin: 0% 0% 1% 0%;">
                    <select #carReservationSelect class="lookReservationBox" name="reservationId" ngModel required>
                        <option *ngFor="let car of carsHistory;" [value]="car.reservationId">{{car.reservationId}}</option>
                    </select>
                    <button class="lookReservationButton" type="submit">Cancel reservation</button>   
                </div>      
            </form> 
        </div>       
    </div>
</div>

<!-- RATE FLIGHTS -->
<div class="modal fade" id="rateFlightsList" tabindex="0" role="dialog" aria-labelledby="rateFlightsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rateFlightsList" style="font-size: 25px; color: #444444;">Rate (flights)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">               
                <tr class="lookRow" *ngFor="let flightR of flightRate">
                    <td>
                    <form #rateAvioFlightForm="ngForm" (ngSubmit)="rateAvioFlight(rateAvioFlightForm, flightR.reservationId)">
                        <td class="lookTd">{{flightR.departureLocation.name}} - {{flightR.arrivalLocation.name}},<br>{{flightR.departure}}</td>
                        <td class="lookTdRating">
                            <div style="overflow: hidden;">
                                <label style="font-size: 15px; float: left;">Rate <br>{{flightR.avioCompanyName}}</label>
                                    <select class="lookRating" name="ratingAvioCompany" ngModel required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            </div>
                        </td>
                        <td class="lookTdRating">
                            <div style="overflow: hidden;">
                                <label style="font-size: 15px; float: left;">Rate this flight</label>
                                    <select class="lookRating" name="ratingFlight" ngModel required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            </div>                    
                        </td>
                        <td class="lookTdConfirm">
                            <button class="lookButtonConfirm" type="submit">Confirm</button>  
                        </td>
                    </form>
                    </td>
                </tr>           
            </table>            
        </div>       
    </div>
</div>
<div class="modal fade" id="rateCarsList" tabindex="0" role="dialog" aria-labelledby="rateCarsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rateCarsList" style="font-size: 25px; color: #444444;">Rate (cars)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let vehicleR of vehicleRate">
                    <td>
                    <form #rateCarVehicleForm="ngForm" (ngSubmit)="rateCarVehicle(rateCarVehicleForm, vehicleR.reservationId)">
                        <td class="lookTd">{{vehicleR.pickUpLocation}} (Picked up),<br>{{vehicleR.pickUpDate}},<br>Company: {{vehicleR.carCompanyName}}</td>
                        <td class="lookTd">{{vehicleR.returnLocation}} (Will return/Returned),<br>{{vehicleR.returnDate}}</td>                    
                        <td class="lookTdRating">
                            <div style="overflow: hidden;">
                                <label style="font-size: 15px; float: left;">Rating Car: {{vehicleR.vehicleName}}</label>
                                    <select class="lookRating" name="ratingCarCompany" ngModel required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                            </div>                    
                        </td>
                        <td class="lookTdRating">
                            <div style="overflow: hidden;">
                                <label style="font-size: 15px; float: left;">Rate this vehicle</label>
                                    <select class="lookRating" name="ratingVehicle" ngModel required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            </div>                    
                        </td>
                        <td class="lookTdConfirm">
                            <button class="lookButtonConfirm" type="button">Confirm</button>  
                        </td>
                    </form>
                    </td>
                </tr>
            </table>            
        </div>       
    </div>
</div>
