<div class="container main">
    <h3>You can modify your vehicle list here.</h3>
    <div class="list">
        <div class="list-item" *ngFor="let vehicle of vehicles;">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: {{vehicle.vehicleId}} 
                    </div>
                    <div class="car-name">
                        {{vehicle.name}}
                    </div>
                    <div class="car-cost">
                        ${{vehicle.costPerDay}} / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 {{getVehicleTypeText(vehicle.carType)}}
                        <br/>
                        👤 {{vehicle.passangers}} 🧳 {{vehicle.baggage}}
                        <br/>
                        Has <b>{{vehicle.doors}}</b> doors.
                        <br/>
                        ⛽ {{vehicle.fuel}}
                        <br/>
                        ⚙️ {{vehicle.transmission}}
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/{{vehicle.rating}}.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    {{vehicle.additional}}
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add a vehicle to your collection:</h4>
            <form class="form" #addVehicleForm="ngForm" (ngSubmit)="addVehicle(addVehicleForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Vehicle name:</i> </span>
                    </div>
                    <input name="name" ngModel required class="form-control" placeholder="eg. Toyota Auris" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Car type:</i> </span>
                    </div>
                    <select class="form-control" name="carType" ngModel required>
                        <option value="1">HatchBack</option>
                        <option value="2">Sedan</option>
                        <option value="3">Coupe</option>
                        <option value="4">SUV</option>
                    </select>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Max. passenger number:</i> </span>
                    </div>
                    <input name="passangers" ngModel required class="form-control" min="1" max="10" placeholder="eg. 5" type="number">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Max. baggage number:</i> </span>
                    </div>
                    <input name="baggage" ngModel required class="form-control" min="1" max="10" placeholder="eg. 2" type="number">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Number of doors:</i> </span>
                    </div>
                    <input name="doors" ngModel required class="form-control" min="1" max="10" placeholder="eg. 5" type="number">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Fuel:</i> </span>
                    </div>
                    <input name="fuel" ngModel required class="form-control" placeholder="eg. Diesel" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Transmission:</i> </span>
                    </div>
                    <input name="transmission" ngModel required class="form-control" placeholder="eg. Manual" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Additional:</i> </span>
                    </div>
                    <textarea name="additional" ngModel required class="form-control" style="height: 90px;" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when..."></textarea>
                </div> <!-- form-group// -->   
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Cost per day ($):</i> </span>
                    </div>
                    <input name="costPerDay" ngModel required class="form-control" min="5" placeholder="eg. 24" type="number">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading1"></div> 
                    <div class="success" *ngIf="success1">✓ Successufully.</div> 
                    <div class="failed" *ngIf="failed1">✗ Not successufully.</div>
                </div> 
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove a vehicle from your collection:</h4>
            <form class="form" #removeVehicleForm="ngForm" (ngSubmit)="removeVehicle(removeVehicleForm);">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Vehicle id:</i> </span>
                    </div>
                    <input name="id" ngModel requried class="form-control" min="1" placeholder="eg. 234" type="number">
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->  
                <div style="overflow: hidden;">
                    <div class="loader" *ngIf="loading2"></div> 
                    <div class="success" *ngIf="success2">✓ Successufully.</div> 
                    <div class="failed" *ngIf="failed2">✗ Not successufully.</div>
                </div>    
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/car" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>