<div class="container main">
    <h3>You can modify your vehicle list here.</h3>
    <div class="list">
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: 43156659 
                    </div>
                    <div class="car-name">
                        Toyota Auris
                    </div>
                    <div class="car-cost">
                        $13 / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 Hatchback
                        <br/>
                        👤 5 🧳 2
                        <br/>
                        Has <b>5</b> doors.
                        <br/>
                        ⛽ Gasoline
                        <br/>
                        ⚙️ Manual, 5 gears
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/5.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: 43156659 
                    </div>
                    <div class="car-name">
                        Toyota Auris
                    </div>
                    <div class="car-cost">
                        $13 / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 Hatchback
                        <br/>
                        👤 5 🧳 2
                        <br/>
                        Has <b>5</b> doors.
                        <br/>
                        ⛽ Gasoline
                        <br/>
                        ⚙️ Manual, 5 gears
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/5.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: 43156659 
                    </div>
                    <div class="car-name">
                        Toyota Auris
                    </div>
                    <div class="car-cost">
                        $13 / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 Hatchback
                        <br/>
                        👤 5 🧳 2
                        <br/>
                        Has <b>5</b> doors.
                        <br/>
                        ⛽ Gasoline
                        <br/>
                        ⚙️ Manual, 5 gears
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/5.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: 43156659 
                    </div>
                    <div class="car-name">
                        Toyota Auris
                    </div>
                    <div class="car-cost">
                        $13 / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 Hatchback
                        <br/>
                        👤 5 🧳 2
                        <br/>
                        Has <b>5</b> doors.
                        <br/>
                        ⛽ Gasoline
                        <br/>
                        ⚙️ Manual, 5 gears
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/5.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item-last">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="car-id">
                        ID: 43156659 
                    </div>
                    <div class="car-name">
                        Toyota Auris
                    </div>
                    <div class="car-cost">
                        $13 / day
                    </div>
                </div>
                <div class="split-content-right">
                    <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                        🚗 Hatchback
                        <br/>
                        👤 5 🧳 2
                        <br/>
                        Has <b>5</b> doors.
                        <br/>
                        ⛽ Gasoline
                        <br/>
                        ⚙️ Manual, 5 gears
                    </div>
                    <div style="float: right;">
                        <img src="../../../../assets/ratings/5.png" width="150px" height="30px"/>
                    </div>
                </div>
                <div class="car-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add a vehicle to your collection:</h4>
            <form class="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Vehicle name:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. Toyota Auris" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Car type:</i> </span>
                    </div>
                    <select class="form-control">
                        <option>Hatchback</option>
                        <option>Sedan</option>
                        <option>Coupe</option>
                        <option>SUV</option>
                    </select>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Max. passenger number:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 5" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Max. baggage number:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 2" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Number of doors:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 5" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Fuel:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. Diesel" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Transmission:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. Manual" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Additional:</i> </span>
                    </div>
                    <textarea class="form-control" style="height: 90px;" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when..."></textarea>
                </div> <!-- form-group// -->   
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Cost per day ($):</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 24" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button routerLink="/admin/car/vehicles" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove a vehicle from your collection:</h4>
            <form class="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Vehicle id:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 234" type="text">
                </div>   
                <div class="form-group">
                    <button routerLink="/admin/car/vehicles" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/car" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>