<div class="container main">
    <h3>You can modify your avio company list here.</h3>
    <div class="list">
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: 43156659 
                    </div>
                    <div class="office-location">
                        Wizz Air
                    </div>
                </div>
                <div class="split-content-right">
                    Address: Boulevard of Broken Dreams 33
                </div>
                <div class="office-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: 43156659 
                    </div>
                    <div class="office-location">
                        Wizz Air
                    </div>
                </div>
                <div class="split-content-right">
                    Address: Boulevard of Broken Dreams 33
                </div>
                <div class="office-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: 43156659 
                    </div>
                    <div class="office-location">
                        Wizz Air
                    </div>
                </div>
                <div class="split-content-right">
                    Address: Boulevard of Broken Dreams 33
                </div>
                <div class="office-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: 43156659 
                    </div>
                    <div class="office-location">
                        Wizz Air
                    </div>
                </div>
                <div class="split-content-right">
                    Address: Boulevard of Broken Dreams 33
                </div>
                <div class="office-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="list-item-last">
            <div class="list-item-content">
                <div class="split-content-left">
                    <div class="office-id">
                        ID: 43156659 
                    </div>
                    <div class="office-location">
                        Wizz Air
                    </div>
                </div>
                <div class="split-content-right">
                    Address: Boulevard of Broken Dreams 33
                </div>
                <div class="office-additional">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
    <div class="add-remove">
        <div class="add">
            <h4 style="margin-bottom: 15px;">Add an avio company:</h4>
            <form class="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Company name:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. Whimzy Eirr" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Address:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. Boulevard of Broken Dreams 33/36, New Now" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope">Description:</i> </span>
                    </div>
                    <textarea class="form-control" style="height: 90px;" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when..."></textarea>
                </div> <!-- form-group// -->   
                <div class="form-group">
                    <button routerLink="/admin/system/register/avio" class="btn btn-primary btn-block btn-dark">+ Add</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
        <div class="remove">
            <h4 style="margin-bottom: 15px;">Remove an avio company:</h4>
            <form class="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user">Company id:</i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="eg. 234" type="text">
                </div>   
                <div class="form-group">
                    <button routerLink="/admin/system/register/avio" class="btn btn-primary btn-block btn-dark">- Remove</button>
                </div> <!-- form-group// -->     
            </form>
        </div>
    </div>
    <div class="back">
        <button routerLink="/admin/system" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>