<div id="footer" 
    style="height: 50vh;
            margin: 0px 25px 50px 25px;">
    <div style="height: 35%;">
    </div>
    <div style="margin: 25px 25px 0px 25px;">
        <img style="display: inline-block;" src="../../assets/aerocar_logo_inv.png" width="100%"/>
        <p style="display: inline-block; padding: 25px; color: white; font-style: italic;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <div style="margin: 25px 25px 25px 25px; display: flex;">
        <p style="display: inline-block; padding: 25px; color: white; font-style: italic; width: 75%;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <img src="../../assets/TMlogo_inv.png" width="25%" height="70%" style="margin: auto;"/>
    </div>
    <div>
        <p style="color: white; text-align: center; font-size: 50px; margin: 100px;">
            <i>"The spread of civilisation may be likened to a fire; first, a feeble spark, next a flickering flame, then a mighty blaze, ever increasing in speed and power."
            </i>- Nikola Tesla
        </p>
    </div>
</div>