<div class="container main">
    <div class="logo-name-rate">
        <div>
            <img src="../../../assets/aerocar_logo.png" width="250" height="100"/>
        </div>
        <div class="title">
            <b>{{profileDetails.name}}</b>
        </div>
        <div>
            <img src="../../../assets/ratings/{{profileDetails.ratingPicture}}.png" width="150" height="30"/>
        </div>
    </div>
    <div class="details">
        <div class="address">
            Address: {{profileDetails.address}}
            <br/>
            Has offices in: {{profileDetails.offices}}
        </div>
        <div class="description">
            {{profileDetails.description}}
        </div>
    </div>
    <div class="vehicles">
        <h3>Vehicles from this company.</h3>
        <div class="list">
            <div class="list-item" *ngFor="let vehicle of profileDetails.vehicleList">
                <div class="list-item-content">
                    <div class="split-content-left">
                        <div class="car-id">
                            {{vehicle.vehicleId}}
                        </div>
                        <div class="car-name">
                            {{vehicle.name}}
                        </div>
                        <div class="car-cost">
                            {{vehicle.costPerDay}}
                        </div>
                    </div>
                    <div class="split-content-right">
                        <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                            🚗 {{getVehicleTypeText(vehicle.carType)}}
                            <br/>
                            👤 {{vehicle.passangers}} 🧳 {{vehicle.baggage}}
                            <br/>
                            Has <b>{{vehicle.doors}}</b> doors.
                            <br/>
                            ⛽ {{vehicle.fuel}}
                            <br/>
                            ⚙️ {{vehicle.transmission}}
                        </div>
                        <div style="float: right;">
                            <img src="../../../../assets/ratings/{{vehicle.rating}}.png" width="150px" height="30px"/>
                        </div>
                    </div>
                    <div class="car-additional">
                        {{vehicle.additional}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offices">
        <h3>Offices from this company.</h3>
        <div class="list">
            <div class="list-item" *ngFor="let office of profileDetails.officeList">
                <div class="list-item-content">
                    <div class="split-content-left">
                        <div class="office-id">
                            Id: {{office.officeId}}
                        </div>
                        <div class="office-location">
                            Location: {{office.location.name}}
                        </div>
                    </div>
                    <div class="split-content-right">
                        Address: {{office.address}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back">
        <button routerLink="/cars" class="btn btn-primary btn-block btn-dark">← Back</button>
    </div>
</div>