<br>
<div class="container titleStyle animated zoomIn">
    This is Your profile on <img src="/../../assets/aerocar_logo.png" width="200px" height="80px"/> website
</div>
<br>
<div class="container lookBigDiv">
    <form class="form" #updateProfileForm="ngForm" (ngSubmit)="updateProfile(updateProfileForm);">
        <div style="display: flex;">
            <div class="lookLabel">
                <label>First name</label><br>
                <input name="name" [(ngModel)]="profile.name" required class="lookBorderBox" type="text" value="{{profile.name}}">
            </div>
            <div class="space">
            </div>
            <div class="lookLabel">
                <label>Last name</label><br>
                <input name="surname" [(ngModel)]="profile.surname" required class="lookBorderBox" type="text" value="{{profile.surname}}">
            </div>
            <div class="space">
            </div>
            <div class="lookLabel">
                <label>Phone number</label><br>
                <input name="phone" [(ngModel)]="profile.phone" required class="lookBorderBox" type="text" value="{{profile.phone}}">
            </div>
        </div>
        <br>
        <div style="display: flex;">
            <div class="lookLabel">
                <label>City</label><br>
                <input name="city" [(ngModel)]="profile.city" required class="lookBorderBox" type="text" value="{{profile.city}}">
            </div>
            <div class="space">
            </div>
            <div class="lookLabel">
                <label>E-mail</label><br>
                <input name="email" [(ngModel)]="profile.email" required class="lookBorderBox" type="text" value="{{profile.email}}">
            </div>
            <div class="space">
            </div>
            <div class="lookLabel">
                <label>Friends list</label><br>
                <button type="button" class="lookButtonArrow" (click)="loadFriends();" data-toggle="modal" data-target="#friendsList">⇩</button>
            </div>        
        </div>
        <br>
        <div style="overflow: hidden;">
            <button class="lookButtonSave" type="submit">Save</button>
            <button class="lookButtonCancel" type="button" (click)="refresh();">Cancel</button><br>         
        </div>
        <div style="overflow: hidden;">
            <div class="loader" *ngIf="loading"></div>
            <div class="success" *ngIf="success">✓ All saved.</div>
            <div class="failed" *ngIf="failed">✗ Something went wrong. Please try later.</div>  
        </div> 
    </form>
    <hr>
    <div style="overflow: hidden; margin-top: 20px;">
        <h5>Check out your <b>dashboard:</b></h5>
        <button class="lookButtonCancel" style="margin-top: 5px;" routerLink="{{dashboardRoute}}">Dashboard</button>
    </div>
    <hr/>
    <div style="overflow: hidden; margin-top: 20px;">
        <h5>Do you want to sign out?</h5>
        <button class="lookButtonCancel" style="margin-top: 5px;" (click)="signOut();">Sign Out</button>
    </div>
</div>
<div class="modal fade" id="friendsList" tabindex="0" role="dialog" aria-labelledby="friendsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="friendsList" style="font-size: 25px; color: #444444;">Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container" style="padding: 20px;">
            <table class="table" style="background-color: rgb(223, 239, 245);">
                <tr class="lookRow" *ngFor="let friend of friends;">
                    <td class="lookTd">{{friend.username}}</td>
                </tr>
            </table>
            <div style="width: 100%; overflow: hidden;">
                <form class="form" #addFriendForm="ngForm" (ngSubmit)="addFriend(addFriendForm);">
                    <input name="username" ngModel required class="lookAddRemoveTextBox" type="text" placeholder="Username to add">
                    <button class="lookAddRemoveButtons" type="submit">Add friend</button><br>        
                </form>    
                <form class="form" #removeFriendForm="ngForm" (ngSubmit)="removeFriend(removeFriendForm);">   
                    <input name="username" ngModel required class="lookAddRemoveTextBox" type="text" placeholder="Username to remove">
                    <button class="lookAddRemoveButtons" type="submit">Remove friend</button>
                </form> 
            </div>
        </div>
        </div>       
    </div>
</div>

