<br>
<div class="container titleStyle animated zoomIn">
    This is Your profile on <img src="/../../assets/aerocar_logo.png" width="300px" height="100px"/> website
</div>
<br>
<div class="container lookBigDiv" style="text-align: center;">
    <div class="lookLabel">
        <label>First name</label><br>
        <input class="lookBorderBox" type="text">
    </div>
    <div class="space">
    </div>
    <div class="lookLabel">
        <label>Last name</label><br>
        <input class="lookBorderBox" type="text">
    </div>
    <div class="space">
    </div>
    <div class="lookLabel">
        <label>Phone number</label><br>
        <input class="lookBorderBox" type="text">
    </div>
    <br>
    <div class="lookLabel">
        <label>City</label><br>
        <input class="lookBorderBox" type="text">
    </div>
    <div class="space">
    </div>
    <div class="lookLabel">
        <label>E-mail</label><br>
        <input class="lookBorderBox" type="text">
    </div>
    <div class="space">
    </div>
    <div class="lookLabel">
        <label>Friends list</label><br>
        <button type="button" class="lookButtonArrow" data-toggle="modal" data-target="#friendsList">⇩</button>
    </div>
    <div class="space">
    </div>
    <div>
        <button class="lookButtonSave" type="button">Save</button>
    </div>
    
</div>
<div class="modal fade" id="friendsList" tabindex="0" role="dialog" aria-labelledby="friendsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="friendsList" style="font-size: 25px; color: #444444;">Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="lookTable">
            <tr class="lookRow">
                <td>Friend1</td>
            </tr>
            <tr class="lookRow">
                <td>Friend2</td>
            </tr>
            <tr class="lookRow">
                <td>Friend3</td>
            </tr>
            <tr class="lookRow">
                <td>Friend4</td>
            </tr>
            <tr class="lookRow">
                <td>Friend5</td>
            </tr>
            <tr>
                <input class="lookAddRemoveTextBox" type="text">
                <button class="lookAddRemoveButtons" type="button">Add friend</button><br>                
                <input class="lookAddRemoveTextBox" type="text">
                <button class="lookAddRemoveButtons" type="button">Remove friend</button>
            </tr>
        </table>
        </div>       
    </div>
</div>

