<div class="container" style="text-align: center; margin: 2.5%;">
    
    <div class="look">
        <h1 class="profileTitle">User profile</h1>
        <table class="lookTable">
            <tr>
                <th>Firstname</th>
                <td>UserFirstName</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>UserLastName</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>userMail@mail.com</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>0123456789</td>
            </tr>
            <tr>
                <th>City</th>
                <td>userCity</td>
            </tr>
            <tr>
                <th>Friends list</th>
                <td>
                    <button type="button" data-toggle="modal" data-target="#friendsList">
                        ↓
                    </button>
                    </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="friendsList" tabindex="0" role="dialog" aria-labelledby="friendsList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="friendsList">Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="lookFriendsList">
            <tr>
                <th style="padding: 5px;">Friend1</th>
            </tr>
            <tr>
                <th style="padding: 5px;">Friend2</th>
            </tr>
            <tr>
                <th style="padding: 5px;">Friend3</th>
            </tr>
            <tr>
                <th style="padding: 5px;">Friend4</th>
            </tr>
            <tr>
                <th>
                    <input type="text">
                    <button type="button">
                        Add friend
                    </button>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text">
                    <button type="button">
                        Remove friend
                    </button>
                </th>
            </tr>
          </table>
        </div>
    </div>
</div>
