<div class="container main">
    <div class="line">
        <div class="left">
            Change your Rent-A-Car company's details
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="profile">Edit Profile</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            Add, remove or change any existing <b>vehicles</b>
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="cars">Vehicles</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            Modify any existing <b>office</b> details
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="offices">Offices</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            See all the details concerning your company in a stylized report
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="report">Report</button>
        </div>
    </div>
    <div class="line">
        <div class="left">
            Change your details
            <div class="details">
                <i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </i>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-dim" routerLink="user">Your Details</button>
        </div>
    </div>
</div>