<div>
    <div class="headline">
        <div class="headline-text">
            Drive with us.
        </div>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
        <div class="headline-image">
            <img src="../../assets/car_on_road.png" width="100%"/>
        </div>
    </div>
    <div class="search-list">
        <div class="search">
            <h4>
                Look for available cars
            </h4>
            <hr>
            <form class="form" #searchCarsForm="ngForm" (ngSubmit)="searchForCars(searchCarsForm);">
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Pickup:</label>
                    <div class="col-sm-8">
                        <input type="text" ngModel required name="pickUpLocation" class="form-control" id="location" placeholder="Enter the location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Pickup date:</label>
                    <div class="col-sm-8">
                        <input type="date" ngModel required name="pickUpDate" class="form-control" id="pickupDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Pickup hour:</label>
                    <div class="col-sm-8">
                        <input type="time" ngModel required name="pickUpTime" class="form-control" id="pickupHour" value="12:00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Return:</label>
                    <div class="col-sm-8">
                        <input type="text" ngModel required name="returnLocation" class="form-control" id="location" placeholder="Enter the location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Return date:</label>
                    <div class="col-sm-8">
                        <input type="date" ngModel required name="returnDate" class="form-control" id="returnDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Return hour:</label>
                    <div class="col-sm-8">
                        <input type="time" ngModel required name="returnTime" class="form-control" id="returnHour" value="20:00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Car type:</label>
                    <div class="col-sm-8">
                        <select name="carType" ngModel required class="form-control">
                            <option value="1" selected>Hatchback</option>
                            <option value="2">Sedan</option>
                            <option value="3">Coupe</option>
                            <option value="4">SUV</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Passanger number:</label>
                    <div class="col-sm-8">
                        <input type="number" ngModel required name="passangers" class="form-control" id="passangers" placeholder="eg. 4">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-dark">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="list">
            <div class="list-text" *ngIf="!listContainsItems">
                The list contains no items.
            </div>
            <div class="list-items" *ngIf="listContainsItems">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let car of availableCars;">
                            <td (click)="showConfirmDialog(car.vehicleId);">
                                <div class="list-item">
                                    <div class="list-item-content">
                                        <div class="split-content-left">
                                            <div class="car-id">
                                                ID: {{car.vehicleId}} 
                                            </div>
                                            <div class="car-name">
                                                {{car.name}}
                                            </div>
                                            <div class="car-cost">
                                                ${{car.costPerDay}} / day
                                            </div>
                                        </div>
                                        <div class="split-content-right">
                                            <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
                                                🚗 {{getVehicleTypeText(car.carType)}}
                                                <br/>
                                                👤 {{car.passangers}} 🧳 {{car.luggage}}
                                                <br/>
                                                Has <b>{{car.doors}}</b> doors.
                                                <br/>
                                                ⛽ {{car.fuel}}
                                                <br/>
                                                ⚙️ {{car.transmission}}
                                            </div>
                                            <div style="float: right;">
                                                <img src="../../../../assets/ratings/{{car.rating}}.png" width="150px" height="30px"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 1px; border: 1px solid rgb(51, 51, 51); margin: 50px 25px 50px 25px;">
        &nbsp;
    </div>
    <div>
        <h1 style="text-align: center; color: lightgray; margin-bottom: 50px;">
            More details about our rent-a-car companies
        </h1>
        <div class="details-list">
            <div class="filter-div">
                <button class="btn btn-primary btn-dark" (click)="toggleFilters()">{{btnFiltersText}}</button>
                <div class="filters" *ngIf="filtersShown" [@hidden]>
                    <form class="form">
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Company name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="companyName" placeholder="Enter company's name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Location:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="location" placeholder="Enter the location">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Pickup date:</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="pickupDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Pickup hour:</label>
                            <div class="col-sm-8">
                                <input type="time" class="form-control" id="pickupHour" value="12:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Return date:</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="returnDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Return hour:</label>
                            <div class="col-sm-8">
                                <input type="time" class="form-control" id="returnHour" value="20:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Car type:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>Hatchback</option>
                                    <option>Sedan</option>
                                    <option>Coupe</option>
                                    <option>SUV</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Passanger number:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5+</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button type="button" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="details-list-items">
                <table class="table" style="overflow: auto;">
                    <tbody>
                        <tr *ngFor="let profileInfo of informationProfile;">
                            <td>
                                <a routerLink="profile/{{profileInfo.id}}">
                                    <div class="details-list-item">
                                        <div class="dli-logo-n-rating">
                                            <div style="font-size: 35px; font-weight: bold;">
                                                {{profileInfo.name}}
                                            </div>
                                            <br>
                                            <span>Rating</span>
                                            <br>
                                            <img src="../../assets/ratings/{{profileInfo.ratingPicture}}.png" width="100%" height="18%">
                                            <br>
                                            <span>{{profileInfo.rating}} / 5</span>
                                        </div>
                                        <div class="dli-text">
                                            <b>Address: {{profileInfo.address}}</b>
                                            <br>
                                            <b>Travels to: {{profileInfo.officies}}</b>
                                            <br>
                                            <p>
                                                {{profileInfo.description}}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#confirmReservation">Open Modal</button>
<div #confirmReservationModal class="modal fade" id="confirmReservation" tabindex="0" role="dialog" aria-labelledby="confirmReservation" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmReservation">Do you want to confirm your reservation?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="confirm()">Confirm</button>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="signIn()">Sign In</button>
          </div>
          -->
        </div>
      </div>
    </div>
</div>
<button id="openErrorButton" [hidden]="true" data-toggle="modal" data-target="#notLoggedInError">Open Modal</button>
<div class="modal fade" id="notLoggedInError" tabindex="0" role="dialog" aria-labelledby="notLoggedInError" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: red;" id="notLoggedInError">You haven't signed in.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Please <a href="" data-dismiss="modal" data-toggle="modal" data-target="#userSignIn">sign in</a> first.</h5>
          <div class="tab-content">
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="signIn()">Sign In</button>
          </div>
          -->
        </div>
      </div>
    </div>
</div>