<div>
    <div class="headline">
        <div class="headline-text">
            Drive with us.
        </div>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
        <div class="headline-image">
            <img src="../../assets/car_on_road.png" width="100%"/>
        </div>
    </div>
    <div class="search-list">
        <div class="search">
            <h4>
                Look for available cars
            </h4>
            <hr>
            <form class="form">
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Location:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="location" placeholder="Enter the location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Pickup date:</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="pickupDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Pickup hour:</label>
                    <div class="col-sm-8">
                        <input type="time" class="form-control" id="pickupHour" value="12:00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Return date:</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="returnDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Return hour:</label>
                    <div class="col-sm-8">
                        <input type="time" class="form-control" id="returnHour" value="20:00">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="searchForFlights()">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="list">
            <div class="list-text" hidden>
                The list contains no items.
            </div>
            <div class="list-items">
                <table class="table" style="overflow: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 1px; border: 1px solid rgb(51, 51, 51); margin: 50px 25px 50px 25px;">
        &nbsp;
    </div>
    <div>
        <h1 style="text-align: center; color: lightgray; margin-bottom: 50px;">
            More details about our rent-a-car companies
        </h1>
        <div class="details-list">
            <div class="list-items">
                <table class="table" style="overflow: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-item">
                                    <div class="list-item-left">
                                        <div style="text-align: left; 
                                                    vertical-align: top; 
                                                    margin: 20px 0px 0px 20px; 
                                                    height: 50%;
                                                    font-weight: bold;">
                                            Dositejeva 14, Novi Sad
                                        </div>
                                        <div style="text-align: left; vertical-align: bottom; height: 50%;
                                                    margin: 0px 0px 20px 20px;">
                                            * * * * *
                                        </div>
                                    </div>
                                    <div class="list-item-right">
                                        <div style="text-align: right; vertical-align: top;
                                                    margin: 20px 20px 0px 0px">
                                            <img src="../../assets/aerocar_logo.png" width="100px" height="50px">
                                        </div>
                                        <div style="text-align: right; vertical-align: bottom;
                                                    margin: 0px 20px 20px 0px">
                                            AeroCar™
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>